services:
  qdrant:
    image: qdrant/qdrant:v1.11.3
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  api:
    build:
      context: ./app
    environment:
      - QDRANT_URL=http://qdrant:6333
      - QDRANT_COLLECTION=basketball_docs
      - EMBEDDING_MODEL=all-MiniLM-L6-v2
      - DOCS_PATH=app/data/basketball.txt
    ports:
      - "8000:8000"
    depends_on:
      - qdrant

volumes:
  qdrant_data:
